<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>管理者ログイン</title>
</head>
<body>
	<h1>管理者ログイン</h1>
	<form th:object="${adminSigninForm}" th:action="@{/admin/signin}" method="post">
		<table border="0">
			<tr>
				<td>メールアドレス：</td>
				<td><input type="email" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td>パスワード：</td>
				<td><input type="password" th:field="*{password}" /></td>
			</tr>
		</table>
		<button type="submit">ログイン</button>
	</form>
	<p th:text="${message}" style="color:red;"></p>
	<p>
		<a th:href="@{/admin/signup}">新規登録はこちら</a>
	</p>
</body>
</html>