<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>管理者ログイン</title>
</head>
<body>
	<h1>管理者ログイン</h1>
	<form th:action="@{/admin/signin}" method="post">
		<table border="0">
			<tr>
				<td>メールアドレス：</td>
				<td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td>パスワード：</td>
				<td><input type="password" name="password" /></td>
			</tr>
		</table>
		<button type="submit">ログイン</button>
	</form>
	<div th:if="${param.error}">
		<p style="color:red;">ログインに失敗しました。メールアドレスかパスワードが間違っています。</p>
	</div>
	<div th:if="${param.logout}">
	    <p style="color:blue">ログアウトしました。</p>
	</div>
	<p>
		<a th:href="@{/admin/signup}">新規登録はこちら</a>
	</p>
</body>
</html>