<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>お問い合わせ編集</title>
</head>
<body>
	<h1>お問い合わせ編集画面</h1>
	<form th:action="@{/admin/contacts/{id}/edit(id=${contact.id})}" th:object="${contact}" method="post">
		<table border="1">
			<tr>
				<th>ID</th>
				<td th:text="*{id}"></td>
			</tr>
			<tr>
				<th>姓</th>
				<td><input type="text" th:field="*{lastName}"></td>
			</tr>
			<tr>
				<th>名</th>
				<td><input type="text" th:field="*{firstName}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="email" th:field="*{email}"></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><input type="text" th:field="*{phone}"></td>
			</tr>
			<tr>
				<th>郵便番号</th>
				<td><input type="text" th:field="*{zipCode}"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><input type="text" th:field="*{address}"></td>
			</tr>
			<tr>
				<th>建物名</th>
				<td><input type="text" th:field="*{buildingName}"></td>
			</tr>
			<tr>
				<th>お問い合わせ種別</th>
				<td>
					<select th:field="*{contactType}">
						<option value="services">サービスに関するお問い合わせ</option>
						<option value="technicalQuestions">技術的なお問い合わせ</option>
						<option value="others">その他</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>内容</th>
				<td><textarea th:field="*{body}" rows="4" cols="60"></textarea></td>
			</tr>
		</table>
		<br>
		<input type="submit" value="更新">
	</form>
	
	<br>
	<form th:action="@{/admin/contacts/{id}/delete(id=${contact.id})}" method="get">
		<button type="submit" style="color:red;">削除</button>
	</form>

	<br>
	<a href="/admin/contacts">一覧に戻る</a>
</body>

</html>