<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>お問い合わせの詳細画面</title>
</head>
<body>
	<h1>お問い合わせ一覧画面</h1>
	<table border="1">
		<tr>
			<th>お問い合せID</th>
			<th>姓</th>
			<th>名</th>
			<th>お問い合せ種別</th>
			<th>作成日時</th>
			<th>更新日時</th>
		</tr>
		<tr th:each="contact : ${contactList}">
			<td><a th:href="@{'/admin/contacts/' + ${contact.id}}" th:text="${contact.id}"></a></td>
			<td><span th:text="${contact.lastName}"></span></td>
			<td><span th:text="${contact.firstName}"></span></td>
			<td><span th:text="${contact.contactType}"></span></td>
			<td><span th:text="${contact.createdAt}"></span></td>
			<td><span th:text="${contact.updatedAt}"></span></td>
		</tr>
	</table>
</body>
</html>